<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Edit Player</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row">     
        <div class="col-lg-12">
          <form action="#" #playerForm="ngForm" (ngSubmit)="editPlayer()">
            <div class="form-group">
                <label for="">Name</label> 
               <input type="text" class="form-control"  [(ngModel)]="player.name" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group">
              <label selected>Position : Open this select menu</label>
              <select class="form-control" style="display: flex; background:#222831" [(ngModel)]="player.position" [ngModelOptions]="{standalone:true}">
                <option value="ATK">ATK</option>
                <option value="GK">GK</option>
                <option value="MID">MID</option>
              </select>
          </div>
           
            <div class="form-group">
               <label for="">Number</label>
              <input type="number" class="form-control" placeholder="" [(ngModel)]="player.number" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group"><label for="">Age</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="player.age" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5" value="Edit player" style="width: 1110px;margin-top: 10px;font-size: 15px;">
              </div>
          </form>  
        </div>
        
      </div>
    </div>
  </div>
