<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Matches</h1>
            </div>
        </div>
    </div>
</div>
<!-- il faut utiliser [nom d'attribut]= 'le nom d'elements': affectation du valeur de elt en attribut obj decllarée dans result.ts -->
<div *ngFor ="let elt of matchesTable"><app-result [obj]='elt'></app-result></div>



